.app-header {
  .top-nav {
    font-size: 12px;
    padding-block: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary;
    .fw-600 {
      color: $dark-green;
    }
    p {
      margin: 0;
    }
    .btn {
      font-size: inherit;
    }

    &-left {
      display: flex;
      gap: 41px;
    }
  }

  .bottom-nav {
    transition: 0.5s height ease-in-out;
    position: relative;
    .logo {
      img {
        width: 53px;
        height: 58px;
      }

      margin-right: 20%;
      @media screen and (min-width: 768px) {
        margin-right: 90px;
      }
    }
    .btn {
      background-color: green;
      border: 2px solid green;
      color: white;
      display: flex;
      // margin-block-start: 11px;
      align-items: center;
      height: max-content;
    }
    display: flex;
    // align-items: center;
    justify-content: space-between;

    .nav {
      justify-content: space-between;
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      align-items: center;
      @media screen and (min-width: 768px) {
      }
      &-link {
        color: white;
        &.active {
          color: $primary;
        }
      }
    }
  }
  .bottom-nav.expanded {
    height: 60vh;
    // position: relative;
    .nav {
      position: absolute;
      top: 20px;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .nav-item {
        margin: 15px 0;
        font-size: 24px;
      }
    }
  }
}
