.app-section {
  .section1-top {
    @media screen and (min-width: 768px) {
      background-image: url("./../../public/images/smiley.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
    }
    .top-contents {
      padding-top: 30px;
      @media screen and (min-width: 600px) {
        padding-top: 120px;
        height: 400px;
      }

      .h1-x {
        color: green;
        @media screen and (min-width: 600px) {
          width: 100%;
          max-width: 500px;
          font-style: normal;
          font-weight: 790;
          font-size: 48px;
          line-height: 139.9%;
          // border: 2px solid red;
          color: green;
        }
      }
      .txt-p {
        padding-bottom: 10px;
        color: $dark-green;
        @media screen and (min-width: 600px) {
          color: $dark-green;
          padding-bottom: 30px;
          width: 100%;
          max-width: 410px;
        }

        p {
          margin-block-end: 0;
        }
      }
      .buttons {
        display: flex;
        gap: 1.375rem;
      }
    }
  }
  .section1-bottom {
    width: 100%;
    height: 40px;
    background: rgba(0, 52, 18, 0.35);
    backdrop-filter: blur(16.5px);
    margin-top: 30px;
    @media screen and (min-width: 768px) {
      width: 100%;
      height: 77px;
      background: rgba(0, 52, 18, 0.35);
      backdrop-filter: blur(16.5px);
      margin-top: 76px;
    }
  }
}
/* -----------section2: Advance Learning System -------------*/
.section2 {
  color: $primary;
  // border: 2px solid green;
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    height: 706px;
    padding-block-end: 68px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    //   gap: 4vw;
  }

  .cir-cont {
    //   border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    width: 70%;
    @media screen and (min-width: 768px) {
      width: 100%;
      height: 381px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .holder {
      max-width: 80%;
      width: 100%;
      position: relative;
      // border: 2px solid black;
      @media screen and (min-width: 768px) {
        max-width: 370px;
        width: 100%;
        position: relative;
        //   border: 2px solid black;
      }
      .mask-r {
        position: absolute;
        top: -1%;
        right: -16%;
        width: 100%;
        max-width: 50%;
        height: auto;
        @media screen and (min-width: 768px) {
          top: -1%;
          right: -7%;
          width: 100%;
          max-width: 140px;
          height: auto;
        }
      }

      .dinny_trans {
        position: relative;
        text-align: center;
        @media screen and (min-width: 768px) {
          width: 368px;
        }
        .dinny-pic {
          border-radius: 50%;
          width: 100%;
          max-width: 250px;
          height: auto;
          @media screen and (min-width: 768px) {
            max-width: 300px;
          }
        }
        .small-trans {
          position: absolute;
          top: 55%;
          right: -9%;
          width: 100%;
          max-width: 40%;
          height: auto;
          @media screen and (min-width: 768px) {
            top: 55%;
            right: 1%;
            width: 100%;
            max-width: 120px;
            height: auto;
          }
        }
      }
    }
  }

  .txt {
    //   border: 2px solid black;
    width: 100%;
    //   border: 2px solid red;
    margin-block-end: 40px;

    @media screen and (min-width: 768px) and (max-width: 900px) {
      & {
        width: 420px;
      }
      .h1-m {
        //   border: 2px solid red;
        font-size: 30px;
      }
      p {
        //   border: 2px solid orange;
        font-size: 15px;
      }
      & > .h1-m {
        width: 380px;
      }
      & > p {
        width: 370px;
      }
    }
    .amt-detail {
      @media screen and (min-width: 768px) {
        margin-block-end: 40px;
        display: flex;
      }
      .amt {
        @media screen and (min-width: 768px) {
          & > p {
            // border: 2px solid red;
            margin-bottom: 0px;
          }
          &:not(:last-child) {
            padding-right: 27px;
            border-right: 2px solid rgba(146, 144, 144, 0.459);
          }
          &:not(:first-child) {
            padding-left: 27px;
          }
        }
      }
    }
    .ALS-btn {
      text-align: center;
    }
  }
}

/* ----------section3: Our Feature ------------- */
.section3 {
  background-image: url("./../../public/images/dinny5_n\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  .bg-pic {
    background: #038c33;
    mix-blend-mode: normal;
    opacity: 0.86;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    .OF {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      // border: 2px solid red;

      @media screen and (min-width: 768px) {
        padding: 40px 0;
      }
      & .h1-m {
        color: white;
      }
      & > p {
        color: white;
        text-align: center;
        @media screen and (min-width: 768px) {
          width: 610px;
        }
      }
    }
    .holder {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      @media screen and (min-width: 768px) {
        // padding: 0 160px 0 160px;
        flex-direction: none;
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem;
        padding-bottom: 20px;
      }
      .boxx {
        background-color: white;
        border-radius: 0.5rem;
        display: flex;
        gap: 1rem;
        padding: 10px 18px 10px 18px;
        align-items: center;
        @media screen and (min-width: 768px) {
          padding: 27px 25px 27px 25px;
        }
        .circle {
          box-sizing: border-box;
          width: 95px;
          height: 95px;
          // left: 761px;
          // top: 1661px;
          border: 2px dashed #ff0000;
          border-radius: 50%;
        }
        .text {
          color: green;
          font-size: 14px;
          line-height: 20px;
          @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

/* ----------------Section: FOM ------------------- */
.section4 {
  //   border: 2px solid black;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  align-items: center;
  /* @media screen and (min-width: 486px) and (max-width: 1171px) {
    // justify-content: center;
    // padding: 90px 0 0 7vw;
  } */
  @media screen and (min-width: 1172px) {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 78px;
  }
  @media screen and (min-width: 1367px) {
    justify-content: center;
    gap: 78px;
  }
  .main-container {
    padding-left: 10px;
    @media screen and (min-width: 768px) {
      color: rgb(16, 104, 42);
      line-height: 24px;
      align-items: center;
    }
    .h1-m {
      color: green;
      @media screen and (min-width: 768px) {
        width: 476px;
        // border: 2px solid red;
        margin-block-end: 15px;
      }
    }
    p {
      width: 90vw;
      // border: 2px solid red;
      color: green;
      margin-block-end: 15px;
      //   border: 2px solid red;
      @media screen and (min-width: 768px) {
        width: 396px;
      }
    }
    .list {
      list-style-type: none;
      color: #6c757d;
      padding: 0;
      &:li(:last-child) {
        margin-block-end: 30px;
        @media screen and (min-width: 768px) {
          list-style-type: none;
          color: #6c757d;
          padding: 0;
          &:li(:last-child) {
            margin-block-end: 30px;
          }
        }
      }
    }
  }
  .bg-pic-container {
    background-image: url("./../../public/images/dinny6_n.png");
    background-repeat: no-repeat;
    border-radius: 0px 0px 0px 10px;
    background-position: center;
    background-size: cover; /* background-color: green; */
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-block-start: 30px;
    @media screen and (min-width: 768px) {
      width: 100%;
      max-width: 650px;
      //   height: 520px;
    }
    .transparent {
      border-radius: 0px 0px 0px 10px;
      width: 100%;
      max-width: 650px;
      height: 456px;
      background-color: rgba(26, 41, 10, 0.63);
      position: relative;
      @media screen and (min-width: 768px) {
      }
      .img {
        display: none;
        @media screen and (min-width: 768px) {
          display: block;
          position: absolute;
          top: 233px;
        }
      }
    }
  }
}

/* ------------- end of sectionFOM */

/* -----------------SECTION: pop-------- */
.pop {
  background-color: #e9e4e4;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // border: 2px dashed black;
  .header-txt {
    width: 100%;
    /* border: 2px solid red; */
    color: #038c33;
    text-align: center;
    padding-top: 60px;
    @media screen and (min-width: 768px) {
      width: 620px;
    }
  }
  .sections-holder {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      // border: 2px solid red;
      justify-content: center;
      align-items: center;
      margin: 30px 0;
      gap: 34px;
    }
    .div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-block-end: 30px;
      @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 2px solid black;
      }

      .sections {
        width: 100%;
        width: 291px;
        background-color: white;
        height: 421px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width: 368px) {
          border-radius: 10px;
          width: 351px;
          height: 421px;
          padding-top: 2rem;
          // border: 2px solid black;
          border-radius: 5px 5px 0 0;
        }
        .level {
          text-align: center;
          .lvl-txt {
            color: #038c33;
            padding: 14px;
          }
          .pishur {
            max-width: 180px;
            width: 100%;
            padding-bottom: 14px;

            @media screen and (width: 348px) {
              width: 215px;
            }
          }
          .light-txt {
            color: rgba(0, 0, 0, 0.452);
          }
        }
      }
    }

    .enroll-white {
      border: none;
      background-color: white;
      border-top: 1px solid #038c33;
      border-bottom: 5px solid #038c33;
      text-align: center;
      padding-top: 5px;
      color: green;
      width: 100%;
      max-width: 361px;
      height: 50px;

      @media screen and (min-width: 368px) {
        height: 50px;
        position: relative;
        display: inline-block;
        width: 351px;

        bottom: 0px;
        border-radius: 0px 0px 5px 5px;
        transition-duration: 0.4s;

        cursor: pointer;
      }
      &:hover {
        background-color: #038c33;
        color: white;
        .white {
          display: inline-block;
        }
      }

      .white {
        display: none;
        // background-color: red;
        position: absolute;
        top: 49%;
        right: 36%;
      }
    }
  }
  .button {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    /* .btn-left {
      @include btnStyle(white, #003412, 194px, 51px);
    } */
  }
}

/* ------------ END ------------------- */

/* ------------------Section: FOH -------------- */
.FOH {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-txt {
    padding: 50px 0 32px 0;
    color: rgb(16, 104, 42);
    & .h1-m {
      text-align: center;
    }
    & p {
      color: #6c757d;
      @media screen and (width: 768px) {
        width: 896px;
        // border: 2px solid red;
      }
    }
  }

  .trans {
    position: relative;
    width: 100%;
    // border: 2px solid red;
    max-width: 950px;
    margin-bottom: 90px;
    .group-circle-l {
      display: none;
      @media screen and (min-width: 768px) {
        bottom: 90px;
        left: -120px;
        z-index: -1;
        width: 100%;
      }
    }
    .grp-circle-r {
      display: none;
      @media screen and (min-width: 768px) {
        top: -90px;
        right: -120px;
        z-index: -1;
      }
    }
    .bp-holder {
      .bckg-pic {
        background-image: url("./../../public/images/girwithgreenbck.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 9;

        width: 100%;
        max-width: 950px;
        height: 45vw;

        display: flex;
        align-items: center;
        justify-content: center;

        .caicu {
          border-radius: 50%;
          background: linear-gradient(white);
          background-color: white;
          opacity: 0.7;
          align-items: center;
          justify-content: center;
          width: 140px;
          height: 140px;
          display: flex;

          bottom: 100px;
          .play {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
/* ------------ END-------------- */

/* -------------SECTION: SS----------- */
.SS {
  width: 100%;
  height: 413px;
  background-image: url("./../../public/images/Testimonial\ sect.png");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 20px 4px;
  @media screen and (min-width: 768px) {
    padding: 60px;
  }
  .txt {
    & .h1-m {
      color: white;
    }
  }
  .imgs {
    // border: 2px solid black;
    margin-block-start: 20px;
    width: 100%;
    text-align: center;
    .space {
      padding: 5px 2px;
      @media screen and (min-width: 768px) {
        padding: 10px 30px;
      }
    }
    .mid {
      padding: 2px 3px;
      @media screen and (width: 768px) {
        padding: 5px 30px;
      }
    }
  }
  .txt2 {
    font-family: "Lato";
    font-style: italic;
    font-weight: 50;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    padding: 15px 15px 0 15px;
    color: #031d0c;
    @media screen and (min-width: 768px) {
      width: 680px;
      // border: 2px solid red;
      font-size: 16px;
      font-weight: 100;
      color: #031d0c;
    }

    // border: 2px solid black;
  }
}
/* --------- END --------------- */

/* -------- SECTION: OIT------------- */
@mixin obj() {
  .obj-holder {
    padding-left: 20px;
    .btn {
      border: none;
      width: 95px;
      height: 29px;
      padding: 1px 6px;
    }
    .txt1 {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      padding: 9px 0;
    }
    .txt2 {
      font-weight: 400;
      font-size: 14.4px;
      line-height: 17px;
      color: #ffffff;
    }
  }
}

.OIT {
  // margin: 0 10px;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(143, 191, 38, 0.08);
  }

  & > .h1-m {
    margin-block-start: 40px;
    text-align: center;
  }
  & > p {
    text-align: center;
    color: #6c757d;
  }
  .pics {
    // border: 2px solid red;
    // margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-block-end: 20px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      // align-items: center;
      gap: 2rem;
      // height: 440px;
      padding: 0;
    }
    // border: 2px solid green;
    .pic-holder1 {
      background-image: url("./../../public/images/christina-wocintechchat-com-3ok_-Wvny2Q-unsplash\ 1.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      max-width: 100vw;
      height: 128vw;
      display: flex;
      align-items: flex-end;
      border-radius: 10px;
      @media screen and (min-width: 369px) {
        max-width: 351px;
        height: 471px;
      }

      border-radius: 10px;
      .linear-grad {
        background-image: linear-gradient(rgba(0, 128, 0, 0.041), green);
        width: 351px;
        height: 150px;
        display: flex;
        border-radius: 10px;

        @include obj();
      }
    }
    .pic-holder2 {
      background-image: url("./../../public/images/trust-tru-katsande-SRdK0SQjasE-unsplash\ 1.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      max-width: 100vw;
      height: 128vw;
      display: flex;
      align-items: flex-end;
      border-radius: 10px;
      @media screen and (min-width: 369px) {
        max-width: 351px;
        height: 471px;
      }
      .linear-grad {
        background-image: linear-gradient(rgba(0, 128, 0, 0.041), green);
        width: 351px;
        height: 150px;
        display: flex;
        border-radius: 10px;

        @include obj();
      }
    }
    .pic-holder3 {
      background-image: url("./../../public/images/Rectangle\ 89.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      max-width: 100vw;
      height: 128vw;
      display: flex;
      align-items: flex-end;
      border-radius: 10px;

      @media screen and (min-width: 369px) {
        max-width: 351px;
        height: 471px;
      }
      .linear-grad {
        background-image: linear-gradient(rgba(0, 128, 0, 0.041), green);
        width: 351px;
        height: 150px;
        display: flex;
        border-radius: 10px;
        @include obj();
      }
    }
  }
  .btn-holder {
    text-align: center;
    margin-block-end: 20px;

    @media screen and (min-width: 768px) {
      margin-block-start: 40px;
    }
  }
}
/* -------------------------- END --------------------------------- */

/* ---------------------SECTION: CONTACT US---------------- */
.contact {
  // border: 2px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  .cont {
    font-weight: 700;
    font-size: 30px;
    line-height: 139.9%;
    color: #038c33;
    padding-bottom: 50px;
  }
  .grid {
    /*  border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: auto auto;
      // grid-template-rows: auto auto auto auto;
      align-items: center;
      gap: 1rem;
      width: 100%;
    }
    .box {
      border: 1px solid gray;
      padding: 5px 10px 0 16px;
      // width: 30rem;
      border-radius: 0;
      width: 100%;
    }
    .message {
      width: 100%;
      height: 10rem;
      @media screen and (min-width: 768px) {
        border: 2px solid gray;
        /*    width: 61rem;*/
        grid-area: 3/1 / span 2 / span 2;
        padding: 5px 10px 0 16px;
      }
    }
  }
  .send {
    //   @include btnStyle(green, #add9bd, 149px, 51px);

    margin: 2rem 0 4rem 0;
  }
}
/* -----------------------------END ------------------------------- */

/* -------------------------FOOTER----------------------------------- */
