@import "./variables";
@import "./helpers";
@import "./header.scss";
@import "./section.scss";
@import "./footer.scss";

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &-home {
    flex: 2;
  }
}
